.root {
    -fx-font-family: "Lucida Sans";
}

.spinner {
    -fx-font-size: 16px;
}

.parameter_spinner {
    -fx-font-weight: bold;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-focus-traversable: false;
}

.waypoint-icon {
    -fx-border-width: 2px;
    -fx-border-radius: 4px;
    -fx-border-color: black;
}

.waypoint {
    -fx-padding: 5px;
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}