.root {
    -fx-font-family: "Lucida Sans";
}

.spinner {
    -fx-font-size: 16px;
}

.parameter_spinner {
    -fx-font-weight: bold;
}

.transparent-scroll-pane {
    -fx-background-color: transparent;
}

.transparent-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.list-view {
    -fx-focus-traversable: false;
}

.waypoint {
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-radius: 4px;
}

.chart-series-area-fill {
    -fx-fill: #0096C9;
}
.chart-series-area-line, .chart-series-line {
    -fx-stroke: #0096C9;
}
.xAxis {
    -fx-border-color: #0096C9 transparent transparent transparent;
}
.yAxis {
    -fx-border-color: transparent #0096C9 transparent transparent;
}